@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-outfit: "Outfit", sans-serif;
    --min-width: 360px;
    --max-width: 1300px;
    --medium-width: 800px;
}

body {
    font-family: var(--font-outfit);
    min-height: 100dvh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Main section */

.main {
    width: clamp(var(--min-width), 100%, var(--max-width));
    min-height: 80vh;
    border-radius: 1.6rem;
    display: grid;
    grid-template-columns: 1fr repeat(3, 1fr);
    grid-template-areas:
        "titles titles liam sophia"
        "footer ethan isabella noah";
    background: #F3F4F6 url("./resources/Background_decor.svg") no-repeat;
    background-size: 23%;
}

.main-titles {
    grid-area: titles;
    padding: 2rem;
    border-radius: 1.6rem;
}

.main-footer {
    grid-area: footer;
    display: flex;
    align-items: end;
    padding: 2rem;
}


.main-titles h1 {
    font-weight: 600;
    font-size: 3rem;
    margin: 1rem 0;
}

.main-titles h3 {
    font-size: 1.25rem;
    font-weight: 400;
    color: #263FA9;
}

.main-titles p {
    font-size: 1.3rem;
    font-weight: 400;
    color: #394150;
}

.main-footer p {
    font-weight: 500;
    color: #394150;
    font-size: 1.3rem;
    margin: 0;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
}

.main-footer a {
    text-decoration: none;
    color: #394150;
}

.main-footer p::after {
    content: "";
    display: block;
    width: 1rem;
    height: 1rem;
    background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='7' y1='17' x2='17' y2='7'/%3E%3Cpolyline points='7 7 17 7 17 17'/%3E%3C/svg%3E");
}


.container {
    text-align: left;
    color: #fff;
    position: relative;
    overflow: hidden;
    min-height: 250px;

}

.container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    z-index: 0;
}

/* Background imgs */
.container::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30%;
    z-index: 1;
    pointer-events: none;
    background: linear-gradient(0deg,
            rgba(0, 0, 0, 0.55) 0%,
            rgba(0, 0, 0, 0) 100%);
}

.container>h2,
.container>p {
    position: relative;
    z-index: 2;
    top: 80%;
    padding: 0 2rem;
}

.container h2 {
    font-weight: 500;
}

.container p {
    font-weight: 300;
}

/* Containers */
.liam {
    grid-area: liam;
    background-color: #C1B6F8;
}

.sophia {
    grid-area: sophia;
    background-color: #EDACD2;
    border-top-right-radius: 1.6rem;
}

.ethan {
    grid-area: ethan;
    background-color: #9DC4F8;
}

.isabella {
    grid-area: isabella;
    background-color: #F8D8B0;
}

.noah {
    grid-area: noah;
    background-color: #86E7D4;
    border-bottom-right-radius: 1.6rem;
}

/* Author section */
.author-info {
    color: #000;
    text-align: center;
    position: absolute;
    bottom: 0;
    font-size: 0.9rem;
}

.author-info a {
    color: #000;
}

/* Mediaqueries */
@media (max-width: 1100px) {

    .main {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "titles titles titles"
            "liam sophia ethan"
            "footer isabella noah";
        width: 86%;
        background-size: 27%;
    }

    .main-titles {
        margin-bottom: 5rem;
    }

    .container {
        min-height: 300px;
        object-fit: cover;
    }

    .sophia {
        border-top-right-radius: 0;
    }

    .noah {
        border-bottom-right-radius: 1.6rem;
    }

    .container>h2,
    .container>p {
        top: 75%;
        line-height: 2rem;
    }

    .author-info {
        position: relative;
        top: 4rem;
    }


}

@media (max-width: 700px) {
    .main {
        grid-template-columns: 1fr;
        grid-template-areas:
            "titles"
            "liam"
            "sophia"
            "ethan"
            "isabella"
            "noah"
            "footer";
        margin-top: 3rem;
        width: 90%;
    }

    .noah{
        border-bottom-right-radius: 0;
    }

    .container {
        min-height: 550px;
    }

    .container img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .container>h2,
    .container>p {
        margin-left: 1rem;
        line-height: 3rem;
    }

    .container>h2 {
        font-size: 1.9rem;
    }

    .container>p {
        font-size: 1.3rem;
    }

    .main-footer {
        height: 450px;
    }



}

@media (max-width: 400px) {
    .main {
        grid-template-columns: 1fr;
        grid-template-areas:
            "titles"
            "liam"
            "sophia"
            "ethan"
            "isabella"
            "noah"
            "footer";
        margin-top: 3rem;
        width: 100%;
    }

    .container {
        min-height: 550px;
        width: 100%;
        object-fit: cover;
    }

    .container>h2,
    .container>p {
        margin-left: 1rem;
        line-height: 3rem;
    }

    .container>h2 {
        font-size: 1.9rem;
    }

    .container>p {
        font-size: 1.3rem;
    }
}